*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #16222A; 
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); 
    background: linear-gradient(to right, #3A6073, #16222A); 
    padding: 10px;
}

.todoapp{
    width: 100%;
    max-width: 540px;
    background: #fceeee;
    margin: 120px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todoapp h2{
    color: #593b3b;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todoapp h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border-radius: 40px;
    padding: 16px 20px;
    font-size: 14px;
    background: transparent;
    font-weight: 17px;
    width: 336px;
    border-color: rgba(205, 205, 205, 0.968);
}

.button1{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #03382d;
    font-weight: bolder;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

.button1:hover{
    background: #0c5848;
    padding: 16px 50px;
    border-radius: 40px;
}

.button2{
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #ededed;
    font-weight: bolder;
    color: #040404;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

.button2:hover{
    background: #bab7b7;
    padding: 10px 20px;
    border-radius: 40px;
}
ul{
    padding-top: 30px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px
}

ul li.checked{
    color: #555;
    text-decoration:line-through;
}

ul li.checked::before{
    background-image: url(./images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: grey;
    border-radius: 50%;
}

/* Main.css */
.logoutbutton {
    position: fixed;
    top: 40px; /* Adjust the top position as needed */
    right: 60px; /* Adjust the right position as needed */
  }
  

  .scrollable-container {
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
  }